# Activity 8.01: Retrieving Data Accurately from Databases

The goal of this activity is to fetch data and retrieve information from two tables, persons and pets, which are a part of the petsdb database.

The persons table has the following columns:

- **id**
- **first_name**: The first name of the person
- **last_name**: The last name of the person (can be null)
- **age**: The age of the person
- **city**: The city where they are from
- **zip_code**: The zip code of the city

As we can see, the ```id``` column in the persons table (which is an integer) serves as the primary key for that table and as a foreign key for the pets table, which is linked via the ```owner_id``` column.

The pets table has the following columns:

- **owner_id**
- **pet_name**: The name of the pet.
- **pet_type**: What type of pet it is, for example, cat or dog. Due to a lack of further information, we do not know  which number represents what, but it is an integer and can be null.
- **treatment_done**: This is also an integer column, and 0 here represents No, whereas 1 represents Yes.

In [1]:
import sqlite3

In [2]:
with sqlite3.connect("../petsdb") as conn:
    cursor = conn.cursor()

In [3]:
# What is the count of people belonging to different age groups in the persons table?
rows = cursor.execute("SELECT age, COUNT(*) FROM persons GROUP BY age;")
for row in rows:
    print(f'We have {row[1]} people aged {row[0]}.')

We have 2 people aged 5.
We have 1 people aged 6.
We have 1 people aged 7.
We have 3 people aged 8.
We have 1 people aged 9.
We have 2 people aged 11.
We have 3 people aged 12.
We have 1 people aged 13.
We have 4 people aged 14.
We have 2 people aged 16.
We have 2 people aged 17.
We have 3 people aged 18.
We have 1 people aged 19.
We have 3 people aged 22.
We have 2 people aged 23.
We have 3 people aged 24.
We have 2 people aged 25.
We have 1 people aged 27.
We have 1 people aged 30.
We have 3 people aged 31.
We have 1 people aged 32.
We have 1 people aged 33.
We have 2 people aged 34.
We have 3 people aged 35.
We have 3 people aged 36.
We have 1 people aged 37.
We have 2 people aged 39.
We have 1 people aged 40.
We have 1 people aged 42.
We have 2 people aged 44.
We have 2 people aged 48.
We have 1 people aged 49.
We have 1 people aged 50.
We have 2 people aged 51.
We have 2 people aged 52.
We have 2 people aged 53.
We have 2 people aged 54.
We have 1 people aged 58.
We have 1 people aged 59.
We have 1 people aged 60.
We have 1 people aged 61.
We have 2 people aged 62.
We have 1 people aged 63.
We have 2 people aged 65.
We have 2 people aged 66.
We have 1 people aged 67.
We have 3 people aged 68.
We have 1 people aged 69.
We have 1 people aged 70.
We have 4 people aged 71.
We have 1 people aged 72.
We have 5 people aged 73.
We have 3 people aged 74.

In [6]:
# Which age group has the maximum number of people?
sql = """
    SELECT age, COUNT(*) 
    FROM persons 
    GROUP BY age
    ORDER BY COUNT(*) DESC
    LIMIT 1; 
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'Highest number of people is {row[1]} and came from {row[0]} age group')

Highest number of people is 5 and came from 73 age group

In [7]:
# How many people do not have a last name?
sql = """
    SELECT COUNT(*) - COUNT(last_name)
    FROM persons; 
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} people do not have a last name.')

60 people do not have a last name.

In [8]:
# How many people have more than one pet?
sql = """
    SELECT COUNT(*)
    FROM (
        SELECT id, COUNT(*)
        FROM persons
        INNER JOIN pets
            ON persons.id = pets.owner_id
        GROUP BY id
        HAVING COUNT(*) > 1
        ); 
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} people have more than one pet.')

43 people have more than one pet.

In [10]:
# How many pets have received treatment?
sql = """
    SELECT COUNT(*)
    FROM pets
    WHERE treatment_done = 1;
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} pets have received treatement.')

36 pets have received treatement.

In [11]:
# How many pets have received treatment, and the type of pet is known?
sql = """
    SELECT COUNT(*)
    FROM pets
    WHERE treatment_done = 1
        AND pet_type IS NOT NULL;
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} pets have received treatement.')

16 pets have received treatement.

In [16]:
# How many pets are from the city called east port?
sql = """
    SELECT COUNT(*)
    FROM pets
        INNER JOIN persons
            ON persons.id = pets.owner_id
    WHERE city = 'east port'; 
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} pets are from the city called east port.')

49 pets are from the city called east port.

In [17]:
# How many pets are from the city called east port, and who received treatment?
sql = """
    SELECT COUNT(*)
    FROM pets
        INNER JOIN persons
            ON persons.id = pets.owner_id
    WHERE city = 'east port'
        AND treatment_done = 1; 
    """
rows = cursor.execute(sql)
for row in rows:
    print(f'{row[0]} pets are from the city called east port who received treatment.')

11 pets are from the city called east port who received treatment.