# Preparing the Speed Dating Dataset

As an entrepreneur, you are planning to launch a new dating app into the market. The key feature that will differentiate your app from other competitors will be your high performing user-matching algorithm. Before building this model, you have partnered with a speed dating company to collect data from real events. You just received the dataset from your partner company but realized it is not as clean as you expected; there are missing and incorrect values. Your task is to fix the main data quality issues in this dataset.

In [99]:
import pandas as pd
df = pd.read_csv('..\dataset\Speed_Dating_Data.csv')
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [100]:
df.shape

(8378, 195)

In [101]:
# Check for duplicate rows
df.duplicated().sum()

0

In [102]:
# Check for duplicate rows by using for the identifier columns (iid, id, partner, and pid)
df.duplicated(subset=['iid', 'id', 'partner', 'pid']).sum()

0

In [103]:
# Check for unexpected values for the following numerical variables
cols_to_check = ['imprace', 'imprelig', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga']
for col in cols_to_check:
    print(col)
    print(f"min: {df[col].min()}, max: {df[col].max()}")

imprace
min: 0.0, max: 10.0
imprelig
min: 1.0, max: 10.0
sports
min: 1.0, max: 10.0
tvsports
min: 1.0, max: 10.0
exercise
min: 1.0, max: 10.0
dining
min: 1.0, max: 10.0
museums
min: 0.0, max: 10.0
art
min: 0.0, max: 10.0
hiking
min: 0.0, max: 10.0
gaming
min: 0.0, max: 14.0
clubbing
min: 0.0, max: 10.0
reading
min: 1.0, max: 13.0
tv
min: 1.0, max: 10.0
theater
min: 0.0, max: 10.0
movies
min: 0.0, max: 10.0
concerts
min: 0.0, max: 10.0
music
min: 1.0, max: 10.0
shopping
min: 1.0, max: 10.0
yoga
min: 0.0, max: 10.0

In [104]:
# Replace the identified incorrect values
# range should be between 1-10
for col in cols_to_check:
    df.loc[df[col] > 10, col] = 10
    df.loc[df[col] < 10, col] = 1

In [105]:
for col in cols_to_check:
    print(col)
    print(f"min: {df[col].min()}, max: {df[col].max()}")

imprace
min: 1.0, max: 10.0
imprelig
min: 1.0, max: 10.0
sports
min: 1.0, max: 10.0
tvsports
min: 1.0, max: 10.0
exercise
min: 1.0, max: 10.0
dining
min: 1.0, max: 10.0
museums
min: 1.0, max: 10.0
art
min: 1.0, max: 10.0
hiking
min: 1.0, max: 10.0
gaming
min: 1.0, max: 10.0
clubbing
min: 1.0, max: 10.0
reading
min: 1.0, max: 10.0
tv
min: 1.0, max: 10.0
theater
min: 1.0, max: 10.0
movies
min: 1.0, max: 10.0
concerts
min: 1.0, max: 10.0
music
min: 1.0, max: 10.0
shopping
min: 1.0, max: 10.0
yoga
min: 1.0, max: 10.0

In [106]:
# Check the data type
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
             ...
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object

In [107]:
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

iid: int64
id: float64
gender: int64
idg: int64
condtn: int64
wave: int64
round: int64
position: int64
positin1: float64
order: int64
partner: int64
pid: float64
match: int64
int_corr: float64
samerace: int64
age_o: float64
race_o: float64
pf_o_att: float64
pf_o_sin: float64
pf_o_int: float64
pf_o_fun: float64
pf_o_amb: float64
pf_o_sha: float64
dec_o: int64
attr_o: float64
sinc_o: float64
intel_o: float64
fun_o: float64
amb_o: float64
shar_o: float64
like_o: float64
prob_o: float64
met_o: float64
age: float64
field: object
field_cd: float64
undergra: object
mn_sat: float64
tuition: float64
race: float64
imprace: float64
imprelig: float64
from: object
zipcode: float64
income: float64
goal: float64
date: float64
go_out: float64
career: object
career_c: float64
sports: float64
tvsports: float64
exercise: float64
dining: float64
museums: float64
art: float64
hiking: float64
gaming: float64
clubbing: float64
reading: float64
tv: float64
theater: float64
movies: float64
concerts: float64
music: float64
shopping: float64
yoga: float64
exphappy: float64
expnum: float64
attr1_1: float64
sinc1_1: float64
intel1_1: float64
fun1_1: float64
amb1_1: float64
shar1_1: float64
attr4_1: float64
sinc4_1: float64
intel4_1: float64
fun4_1: float64
amb4_1: float64
shar4_1: float64
attr2_1: float64
sinc2_1: float64
intel2_1: float64
fun2_1: float64
amb2_1: float64
shar2_1: float64
attr3_1: float64
sinc3_1: float64
fun3_1: float64
intel3_1: float64
amb3_1: float64
attr5_1: float64
sinc5_1: float64
intel5_1: float64
fun5_1: float64
amb5_1: float64
dec: int64
attr: float64
sinc: float64
intel: float64
fun: float64
amb: float64
shar: float64
like: float64
prob: float64
met: float64
match_es: float64
attr1_s: float64
sinc1_s: float64
intel1_s: float64
fun1_s: float64
amb1_s: float64
shar1_s: float64
attr3_s: float64
sinc3_s: float64
intel3_s: float64
fun3_s: float64
amb3_s: float64
satis_2: float64
length: float64
numdat_2: float64
attr7_2: float64
sinc7_2: float64
intel7_2: float64
fun7_2: float64
amb7_2: float64
shar7_2: float64
attr1_2: float64
sinc1_2: float64
intel1_2: float64
fun1_2: float64
amb1_2: float64
shar1_2: float64
attr4_2: float64
sinc4_2: float64
intel4_2: float64
fun4_2: float64
amb4_2: float64
shar4_2: float64
attr2_2: float64
sinc2_2: float64
intel2_2: float64
fun2_2: float64
amb2_2: float64
shar2_2: float64
attr3_2: float64
sinc3_2: float64
intel3_2: float64
fun3_2: float64
amb3_2: float64
attr5_2: float64
sinc5_2: float64
intel5_2: float64
fun5_2: float64
amb5_2: float64
you_call: float64
them_cal: float64
date_3: float64
numdat_3: float64
num_in_3: float64
attr1_3: float64
sinc1_3: float64
intel1_3: float64
fun1_3: float64
amb1_3: float64
shar1_3: float64
attr7_3: float64
sinc7_3: float64
intel7_3: float64
fun7_3: float64
amb7_3: float64
shar7_3: float64
attr4_3: float64
sinc4_3: float64
intel4_3: float64
fun4_3: float64
amb4_3: float64
shar4_3: float64
attr2_3: float64
sinc2_3: float64
intel2_3: float64
fun2_3: float64
amb2_3: float64
shar2_3: float64
attr3_3: float64
sinc3_3: float64
intel3_3: float64
fun3_3: float64
amb3_3: float64
attr5_3: float64
sinc5_3: float64
intel5_3: float64
fun5_3: float64
amb5_3: float64

In [108]:
# Change the data types to categorical for the columns that don't contain numerical values
num_cols = ['round', 'order', 'int_corr', 'age', 'mn_sat', 'income', 'expnum'] # numerical columns
cat_cols = df.drop(num_cols, axis=1).columns
cat_cols

Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'position', 'positin1',
       'partner', 'pid',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=188)

In [109]:
for col in cat_cols:
    df[col] = df[col].astype('category')

In [110]:
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

iid: category
id: category
gender: category
idg: category
condtn: category
wave: category
round: int64
position: category
positin1: category
order: int64
partner: category
pid: category
match: category
int_corr: float64
samerace: category
age_o: category
race_o: category
pf_o_att: category
pf_o_sin: category
pf_o_int: category
pf_o_fun: category
pf_o_amb: category
pf_o_sha: category
dec_o: category
attr_o: category
sinc_o: category
intel_o: category
fun_o: category
amb_o: category
shar_o: category
like_o: category
prob_o: category
met_o: category
age: float64
field: category
field_cd: category
undergra: category
mn_sat: float64
tuition: category
race: category
imprace: category
imprelig: category
from: category
zipcode: category
income: float64
goal: category
date: category
go_out: category
career: category
career_c: category
sports: category
tvsports: category
exercise: category
dining: category
museums: category
art: category
hiking: category
gaming: category
clubbing: category
reading: category
tv: category
theater: category
movies: category
concerts: category
music: category
shopping: category
yoga: category
exphappy: category
expnum: float64
attr1_1: category
sinc1_1: category
intel1_1: category
fun1_1: category
amb1_1: category
shar1_1: category
attr4_1: category
sinc4_1: category
intel4_1: category
fun4_1: category
amb4_1: category
shar4_1: category
attr2_1: category
sinc2_1: category
intel2_1: category
fun2_1: category
amb2_1: category
shar2_1: category
attr3_1: category
sinc3_1: category
fun3_1: category
intel3_1: category
amb3_1: category
attr5_1: category
sinc5_1: category
intel5_1: category
fun5_1: category
amb5_1: category
dec: category
attr: category
sinc: category
intel: category
fun: category
amb: category
shar: category
like: category
prob: category
met: category
match_es: category
attr1_s: category
sinc1_s: category
intel1_s: category
fun1_s: category
amb1_s: category
shar1_s: category
attr3_s: category
sinc3_s: category
intel3_s: category
fun3_s: category
amb3_s: category
satis_2: category
length: category
numdat_2: category
attr7_2: category
sinc7_2: category
intel7_2: category
fun7_2: category
amb7_2: category
shar7_2: category
attr1_2: category
sinc1_2: category
intel1_2: category
fun1_2: category
amb1_2: category
shar1_2: category
attr4_2: category
sinc4_2: category
intel4_2: category
fun4_2: category
amb4_2: category
shar4_2: category
attr2_2: category
sinc2_2: category
intel2_2: category
fun2_2: category
amb2_2: category
shar2_2: category
attr3_2: category
sinc3_2: category
intel3_2: category
fun3_2: category
amb3_2: category
attr5_2: category
sinc5_2: category
intel5_2: category
fun5_2: category
amb5_2: category
you_call: category
them_cal: category
date_3: category
numdat_3: category
num_in_3: category
attr1_3: category
sinc1_3: category
intel1_3: category
fun1_3: category
amb1_3: category
shar1_3: category
attr7_3: category
sinc7_3: category
intel7_3: category
fun7_3: category
amb7_3: category
shar7_3: category
attr4_3: category
sinc4_3: category
intel4_3: category
fun4_3: category
amb4_3: category
shar4_3: category
attr2_3: category
sinc2_3: category
intel2_3: category
fun2_3: category
amb2_3: category
shar2_3: category
attr3_3: category
sinc3_3: category
intel3_3: category
fun3_3: category
amb3_3: category
attr5_3: category
sinc5_3: category
intel5_3: category
fun5_3: category
amb5_3: category

In [111]:
# Check for any missing values for each numerical variable
df[num_cols].isna().sum()

round          0
order          0
int_corr     158
age           95
mn_sat      5245
income      4099
expnum      6578
dtype: int64

In [112]:
# Replace the missing values for each numerical variable with their corresponding mean or median
for col in num_cols:
    print(col)
    print(df[col].unique())

round
[10 16 19 18  5 20  9 21 14  8  6 11 15  7 22]
order
[ 4  3 10  5  7  6  1  2  8  9 11 15 12 16 13 14 18 17 19 20 21 22]
int_corr
[ 0.14  0.54  0.16  0.61  0.21  0.25  0.34  0.5   0.28 -0.36  0.29  0.18
  0.1  -0.21  0.32  0.73  0.6   0.07  0.11  0.39 -0.24 -0.14  0.09 -0.04
 -0.3  -0.26 -0.15 -0.47 -0.18  0.05  0.37  0.35  0.15 -0.19 -0.43  0.
 -0.17  0.08 -0.16  0.06 -0.05 -0.13 -0.06  0.33 -0.51  0.12  0.19  0.47
  0.03  0.46  0.43  0.52 -0.46 -0.27  0.59  0.31 -0.34 -0.03 -0.11  0.42
 -0.4  -0.23  0.17  0.68 -0.01 -0.35  0.3   0.65  0.24  0.41  0.49  0.01
  0.22 -0.08  0.27  0.44  0.62 -0.2  -0.02 -0.33 -0.52 -0.1   0.58 -0.57
 -0.31 -0.07 -0.32  0.04 -0.12  0.48 -0.22 -0.29  0.38  0.53 -0.38  0.02
 -0.28  0.13  0.2    nan -0.41 -0.44  0.51 -0.48  0.4   0.26  0.77 -0.49
 -0.25 -0.09  0.45 -0.39  0.83  0.57 -0.61  0.72 -0.37  0.23 -0.58  0.8
 -0.56  0.63 -0.63  0.71  0.36  0.56  0.55  0.76  0.69  0.79  0.9   0.67
  0.66  0.81  0.64  0.74  0.75  0.85 -0.42 -0.5  -0.59  0.7   0.82  0.78
 -0.45 -0.83  0.88 -0.7  -0.62 -0.55  0.87  0.91  0.84 -0.64 -0.73 -0.54]
age
[21. 24. 25. 23. 22. 26. 27. 30. 28. nan 29. 34. 35. 32. 39. 20. 19. 18.
 37. 33. 36. 31. 42. 38. 55.]
mn_sat
[  nan 1070. 1258. 1400. 1290. 1460. 1430. 1215. 1330. 1450. 1155. 1140.
 1360. 1402. 1250. 1210. 1220. 1410. 1260. 1380. 1030. 1309. 1308. 1050.
 1100. 1310. 1490. 1188. 1097. 1212. 1340. 1034. 1185. 1242. 1160. 1099.
 1214. 1270. 1110. 1178. 1060. 1157. 1180. 1014. 1341.  990. 1320. 1159.
 1370. 1105. 1365. 1011. 1130. 1206. 1331. 1191.  914. 1200. 1080. 1090.
 1092. 1470. 1149. 1134. 1230. 1267. 1280. 1227. 1239.]
income
[ 69487.  65929.     nan  37754.  86340.  60304.  54620.  48652.  29237.
  56580.  36782.  38548.  52010.  28418.  43185.  23152.  43664.  48441.
  61152.  36485.  41507.  17134.  30038.  33772.  24997.  42096.  28891.
  62635.  12063.  29809.  26482.  30147.  39919.  41466.  23988.  28989.
  50948.  38022.  47559.  53539.  32159.  53940.  40753.  38207.  46166.
  30973.  28317.  26645.  25589.  55223. 109031.  40409.  21597.  76624.
  35968.  51725.  55419.  55550.  26682.  41547.  23361.  74893.  52804.
  53923.  27094.  57213.  42390.  43636.  57887.  30768.  66699.  45360.
  55080.  17378.  40375.  48929.  78193.  63351.  50745.  29279.  38774.
  58802.  41831.  52186.  97857.  74624.  21590.  38832.  37248.  28240.
  53771.  56096.  31560.  52467.  80006.  47572.  22439.  31383.  40749.
  47997.  78704.  31143.  32129.  44195.  46837.  97972.  35960.  65708.
  49466.  53229.  32649.  35867.  40244.  42640.  52388.  62875.  30855.
  46800.  45695.  46792.  53501.  64716.  27248.  22805.  56118.  30146.
  39123.  46153.  45300.  42397.  44346.  42225.  37405.  28524.  61141.
   8607.  41476.  49841.  37240.  36594.  62997.  46608.  37881.  48944.
  77112.  18283.  31432.  73073.  26706.  50060.  25401.  80608.  43844.
  53196.  25786.  39394.  40695.  45788.  37315.  51663.  32563.  54303.
  16908.  39729.  57316.  30587.  57513.  31857.  23207.  25831.  28759.
  19264.  41778.  35963.  49409.  31516.  36223.  43367.  27503.  35187.
  26298.  31148.  55704.  46138.  66827.  42897.  31809.  75347.  47005.
  52805.  50725.  65693.  45736.  33906.  50501.  48785.  52318.  62844.
  52586.  29236.  31486.  31632. 106663.  84043.  35224.  36381.  65498.
  60000.  22669.  81266.  29746.  47556.  42651.  27794.  41737.  90225.
  52280.  56056.  60835.  62829.  16767.  42967.  21488.  89977.  18619.
  22161.  82734.  40163.  46185.  78844.  29575.  34752.  22173.  37994.
  35409.  23707.  57501.  25314.  48876.  34870.  35848.  45017.  12416.
  87789.  50572.  49642.  20000.  32508.  35627.  46280.  41191.  71787.
  72412.  36510.  32386.  15863.  46272.  48137.  61686.  47624.  36673.
  55138.]
expnum
[ 2.  5. 10.  3. 15. 20.  4.  9. 19.  0. nan  8. 12.  1.  7.  6. 18. 14.
 13.]

In [113]:
# The values of the int_corr column range between -1 and 1. It seems like they have been normalized. 
# Since there are no extreme values or outliers, you can impute the missing values with the mean of this variable.
m = df['int_corr'].median()
df['int_corr'].fillna(m, inplace=True)

In [114]:
# Other columns haven't been normalized and some of them have outliers. 
# This time, you are going to need to use their medians to fill in the missing values.
missing_num_cols = ['age', 'mn_sat', 'income', 'expnum']
for col in missing_num_cols :
    m = df[col].median()
    df[col].fillna(m, inplace=True)

In [115]:
df[num_cols].isna().sum()

round       0
order       0
int_corr    0
age         0
mn_sat      0
income      0
expnum      0
dtype: int64