# Activity 5.02: Visualizing City Density by the First Letter Using an Interactive Custom Layer

In this last activity for geoplotlib, you'll combine all the methodologies learned in the previous exercises and the activity to create an interactive visualization that displays the cities that start with a given letter, by merely pressing the left and right arrow keys on your keyboard.

Since we use the same setup to create custom layers as the library does, you will be able to understand the library implementations of most of the layers provided by geoplotlib after this activity.

In [65]:
import string

import pandas as pd
import numpy as np
import geoplotlib
from geoplotlib.layers import BaseLayer
from geoplotlib.core import BatchPainter
from geoplotlib.utils import BoundingBox, DataAccessObject
import pyglet

In [3]:
df = pd.read_csv('../../Datasets/world_cities_pop.csv')
df

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,6,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6,NaN,42.466667,1.483333
...,...,...,...,...,...,...,...
3173953,zw,zimre park,Zimre Park,4,NaN,-17.866111,31.213611
3173954,zw,ziyakamanas,Ziyakamanas,0,NaN,-18.216667,27.950000
3173955,zw,zizalisari,Zizalisari,4,NaN,-17.758889,31.010556
3173956,zw,zuzumba,Zuzumba,6,NaN,-20.033333,27.933333
3173957,zw,zvishavane,Zvishavane,7,79876.0,-20.333333,30.033333

In [4]:
df.rename(columns={'Latitude': 'lat', 'Longitude': 'lon'}, inplace=True)
df

,Country,City,AccentCity,Region,Population,lat,lon
0,ad,aixas,Aixàs,6,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6,NaN,42.466667,1.483333
...,...,...,...,...,...,...,...
3173953,zw,zimre park,Zimre Park,4,NaN,-17.866111,31.213611
3173954,zw,ziyakamanas,Ziyakamanas,0,NaN,-18.216667,27.950000
3173955,zw,zizalisari,Zizalisari,4,NaN,-17.758889,31.010556
3173956,zw,zuzumba,Zuzumba,6,NaN,-20.033333,27.933333
3173957,zw,zvishavane,Zvishavane,7,79876.0,-20.333333,30.033333

In [5]:
europe_country_codes = [
    'al', 'ad', 'at', 'by', 'be', 'ba', 'bg', 'hr', 'cy', 'cz', 'dk', 'ee', 'fo', 'fi', 'fr', 'de', 
    'gi', 'gr', 'hu', 'is', 'ie', 'im', 'it', 'xk', 'lv', 'li', 'lt', 'lu', 'mk', 'mt', 'md', 'mc',
    'me', 'nl', 'no', 'pl', 'pt', 'ro', 'sm', 'rs', 'sk', 'si', 'es', 'se', 'ch', 'ua', 'gb', 'va'
]

In [60]:
# filter dataset to European countries
df_eu = df[df.Country.isin(europe_country_codes)]
df_eu.dropna(subset=['City', 'Country'], inplace=True)
df_eu

,Country,City,AccentCity,Region,Population,lat,lon
0,ad,aixas,Aixàs,6,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6,NaN,42.466667,1.483333
...,...,...,...,...,...,...,...
2901652,ua,zymne,Zymne,24,NaN,50.801362,24.331114
2901653,ua,zymovyshche,Zymovyshche,13,NaN,51.423169,30.185614
2901654,ua,zymyne,Zymyne,11,NaN,45.507970,33.514312
2901655,ua,zytomierz,Zytomierz,27,NaN,50.264868,28.676691
2901656,ua,zyubrovka,Zyubrovka,09,NaN,48.636837,26.601589

In [12]:
# filter further to cities that start with letter Z
df_eu_z = df_eu[df_eu.City.str.startswith('z', na=False)]
df_eu_z

,Country,City,AccentCity,Region,Population,lat,lon
104206,al,zaane,ZÄane,44,NaN,40.932778,19.783056
104207,al,zabarzani,Zabarzani,40,NaN,40.427778,20.269167
104208,al,zabarzan,Zabarzan,40,NaN,40.427778,20.269167
104209,al,zaberzane,Zabërzanë,40,NaN,40.427778,20.269167
104210,al,zaberzan i siperm,Zaberzan i Sipërm,40,NaN,40.427778,20.269167
...,...,...,...,...,...,...,...
2901652,ua,zymne,Zymne,24,NaN,50.801362,24.331114
2901653,ua,zymovyshche,Zymovyshche,13,NaN,51.423169,30.185614
2901654,ua,zymyne,Zymyne,11,NaN,45.507970,33.514312
2901655,ua,zytomierz,Zytomierz,27,NaN,50.264868,28.676691
2901656,ua,zyubrovka,Zyubrovka,09,NaN,48.636837,26.601589

Create a dot density plot with a tooltip that shows the country code and the name of the city separated by a -. Use the DataAccessObject to create a copy of our dataset, which allows the use of f_tooltip.

In [22]:
# convert Pandas DataFrame to DataAccessObject
dataset = DataAccessObject(df_eu_z)

In [23]:
# plot dataset with points
geoplotlib.dot(
    dataset,
    color='r',
    point_size=1,
    f_tooltip=lambda d:f"{d['Country'].upper()} - {str(d['City']).title()}"
)

geoplotlib.set_bbox(BoundingBox.from_nominatim('EUROPE'))
geoplotlib.show()

('bbox from Nominatim:', 26.0, 76.0, -15.0, 35.0)

Create a Voronoi plot with the same dataset that only contains cities that start with Z

In [26]:
# plot a Voronoi tessellation
geoplotlib.voronoi(
    dataset, 
    cmap='Reds_r',  
    max_area=1e5, 
    alpha=50  
)
geoplotlib.set_smoothing(True)
geoplotlib.show()

Create a custom layer that plots all the cities in Europe dataset that starts with the provided letter. Make it interactive so that by using the left and right arrow keys, we can switch between the letters.

In [66]:
class CustomLayer(BaseLayer):
 
    def __init__(self, dataset, bbox=BoundingBox.from_nominatim('EUROPE')):
        self.data = dataset
        self.painter = BatchPainter()
        self.view = bbox
        self.start_letters = list(string.ascii_lowercase)
        self.start_letter = 0
 
    def draw(self, proj, mouse_x, mouse_y, ui_manager):
        self.painter.batch_draw()
        ui_manager.info(f'Cities starting with letter {self.start_letters[self.start_letter % len(self.start_letters)]}')
    
    def invalidate(self, proj):
        letter = self.start_letters[self.start_letter % len(self.start_letters)]
        df = self.data[self.data['City'].str.startswith(letter, na=False)]
        self.painter = BatchPainter()
        x, y = proj.lonlat_to_screen(df['lon'], df['lat'])
        self.painter.points(x, y, 1)
 
    def on_key_release(self, key, modifiers):
        # if returns True, then draw called
        if key == pyglet.window.key.RIGHT:
            self.start_letter += 1
            return True
        elif key == pyglet.window.key.LEFT:
            self.start_letter -= 1
            return True
            
        return False
     
    # bounding box that gets used when layer is created
    def bbox(self):
        return self.view
        
# bounding box
europe_bbox = BoundingBox(north=68.574309, west=-25.298424, south=34.266013, east=47.387123)

geoplotlib.add_layer(CustomLayer(df_eu, europe_bbox))
geoplotlib.show()

('bbox from Nominatim:', 26.0, 76.0, -15.0, 35.0)